node_modules/
_build
_install
_esybuild
_esyinstall
yarn-error.log
.merlin
tags
.DS_Store
fpack-test
test/**/build*
*.corrected
*.tmp_corrected
test/tmp_output
test/tmp_stdout.txt
test/tmp_stdout.txt.backup
test/tmp_stderr.txt
test/tmp_stderr.txt.backup
