language: node_js

# use container infra for linux
dist: trusty
sudo: false

# try to fix fs issues
osx_image: xcode9.2

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install libev; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then apt-get install libev; fi

os:
  - linux
  - osx
node_js:
  - "8"
install:
  - npm install -g esy@0.2.8
  - make fetch install
  - make build-dev
  - make setup-test
script:
  - make test
  - make test-integration
cache:
  timeout: 1000
  directories:
  - $HOME/.esy/
