language: node_js

# use container infra for linux
dist: trusty
sudo: false

# try to fix fs issues
osx_image: xcode10

os:
  - linux
  - osx
node_js:
  - "8"
install:
  - npm install -g esy@0.2.8
  - make fetch install
  - make build-dev
  - make setup-test
script:
  - make test
  - make test-integration
cache:
  timeout: 1000
  directories:
  - $HOME/.esy/
